<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- <h1>Hello Duniya</h1> -->
    <h1>
      <span class="inv animate 1">H</span><span class="inv animate 2">e</span
      ><span class="inv animate 3">l</span><span class="inv animate 4">l</span
      ><span class="inv animate 5">o</span> <span class="inv animate 6">D</span
      ><span class="inv animate 7">u</span><span class="inv animate 8">n</span
      ><span class="inv animate 9">i</span><span class="inv animate 10">y</span
      ><span class="inv animate 11">a</span>
    </h1>
    <script src="/js/script.js"></script>
  </body>
</html>
