* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #444;
}

h1 {
  color: #fff;
  font-size: 100px;
}

.inv {
  opacity: 0;
}
